body{
    font-family:'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 1.5;
}

p{
    color: #8f8f8f;
}
/* headings */
.big-heading{
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
   
}
.pricing-heading{
    font-size: 3rem;
}
/* container */
.container-fluid{
    padding: 7% 15%;
    
}
#title .container-fluid{
    padding: 3% 15% 2%;
    text-align: left;
}
/* section */
.colored-section{
    background-color: #0278ae;
    color: #fff;
}
.white-section{
    background-color: #fff;
}
/* brand */
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar{
    padding: 0 0 4.5rem;
}
.nav-item{
padding: 0 18px;
}
.nav-link{
    font-family:'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
}
/* button */
.Download-btn{
    margin: 5% 3% 5% 0;
}
/* title image */
.title-img{
    width: 80%;
    position: relative;
    left: 15%;
}
/* feature */

#features{

  
    position: relative;
    z-index: 1;
  
  
}
.box{
    padding: 4%;
}
.icon{
    color: #51adcf;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #0278ae;
}
.feature-title{
    font-size: 1.5rem;
}
/* testamonials */
#testimonials{
    background-color: #51adcf;
}
.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.testimonial-text{
    font-size: 3rem;
}
/* card */
.card-heading{
    font-size: 1.5rem;
}
/* press */
#press{
    background-color: #51adcf;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
/* pricing */
#pricing{
    padding: 100px;
}
.pricing-col{
    padding: 3% 2%;
}
/* RESPONSIVE */
@media .container-fluid (max-width: 1028px ){
    #title{
        text-align: center;
    }
    .title-img{
        position: static;
        transform: rotate(0);
    }
}
/* cta */

/* footer */

.f{
margin: 10px;
}
.about{
    color: #fff;
}
.about:hover{
    color: #000;
}
